extends layout

block content
   img(src="/images/bouee6.png" style="display:none;")
   - var margintopchoice = "5%"
   - if (loggedIn==true)
     - margintopchoice = "140px"
   div(class="container container2 moveFromLeft")
     div(class="fronthelp", style="margin-top:"+margintopchoice)
         a(href="/search")
           img(src="/images/bouee6.png", alt="The Yoke",  title="Yoke", class="yokelogohelp")
    div
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425228607573859/",data-width="500" data-show-text="false")
        blockquote(cite="https://www.facebook.com/toomanyzooz/videos/1425228607573859/", class="fb-xfbml-parse-ignore")
          a(href="https://www.facebook.com/toomanyzooz/videos/1425228607573859/")
            p= "5th video of the day!!!! HAVING SO MUCH FUN! Our own Leo Pellegrino hosts Grace Kelly. video by: Eran Shaysh...#2SAXY"
              span= "Posted by "
              a(href="https://www.facebook.com/toomanyzooz/")= "TOO MANY ZOOZ on Thursday, August 31, 2017"
      div(class="fb-comments", data-href="https://developers.facebook.com/docs/plugins/comments#configurator", data-numposts="5")
    div
      span= "Test"
