extends layout

block content
   - var margintopchoice = "5%"
   - if (loggedIn==true)
     - margintopchoice = "140px"
   div(class="container container2 moveFromLeft")
    img(src="/images/1Layout.jpg" class="")
    div(style="background-color: rgba(0, 0, 0, 0.73); width: 100%; display: -webkit-inline-box; padding: 50px; margin-left: -15px;")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425228607573859/",data-width="100%" data-show-text="false" style="float: left;width: 50%;")
        blockquote(cite="https://www.facebook.com/toomanyzooz/videos/1425228607573859/", class="fb-xfbml-parse-ignore")
          a(href="https://www.facebook.com/toomanyzooz/videos/1425228607573859/")
            p= "5th video of the day!!!! HAVING SO MUCH FUN! Our own Leo Pellegrino hosts Grace Kelly. video by: Eran Shaysh...#2SAXY"
              span= "Posted by "
              a(href="https://www.facebook.com/toomanyzooz/")= "TOO MANY ZOOZ on Thursday, August 31, 2017"
      //div(class="fb-comments", data-href="https://developers.facebook.com/docs/plugins/comments#configurator", data-numposts="5", style="float: right;width: 45%;")

