extends layout

block content
   div(style="margin-bottom: 100px;")
    img(src="/images/1Layout.jpg" class="imgvid", style="margin-top:5px")
    div(class="video")
      div(class="fb-post",data-href="https://www.facebook.com/eshaysh/posts/10154795965492826/",data-width="", data-show-text="true")
      img(src="/images/1TxtDumboBrooklyn.png", class="imgtext")
    //div(class="fb-comments", data-href="https://developers.facebook.com/docs/plugins/comments#configurator", data-numposts="5", style="float: right;width: 45%;")
    img(src="/images/2Layout.jpg" class="imgvid")
    div(class="video")
      div(class="fb-post",data-href="https://www.facebook.com/eshaysh/posts/10154796061697826/",data-width="", data-show-text="true")
      img(src="/images/2TxtTrinityParkBrooklyn.png", class="imgtext")
    img(src="/images/3Layout.jpg" class="imgvid")
    div(class="video")
      div(class="fb-post",data-href="https://www.facebook.com/eshaysh/posts/10154795869357826/",data-width="", data-show-text="true")
      img(src="/images/3TxtWashingtonSqPark.png", class="imgtext")
    img(src="/images/4Layout.jpg" class="imgvid")
    div(class="video")
      div(class="fb-post",data-href="https://www.facebook.com/eshaysh/posts/10154795615737826/",data-width="", data-show-text="true")
      img(src="/images/4TxtGreenwichVillage.png", class="imgtext")
    img(src="/images/5Layout.jpg" class="imgvid")
    div(class="video")
      div(class="fb-post",data-href="https://www.facebook.com/eshaysh/posts/10154796362632826/",data-width="", data-show-text="true")
      img(src="/images/5TxtTimeSq.png", class="imgtext", style="width: 7%;")

