extends layout

block content
   div(style="margin-bottom: 100px;")
    img(src="/images/1Layout.jpg" class="imgvid", style="margin-top:5px")
    div(class="video facebook-responsive")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425095127587207/",data-width="" data-show-text="false" style="float: left;width: 50%;")
      img(src="/images/1TxtDumboBrooklyn.png", class="imgtext")
    //div(class="fb-comments", data-href="https://developers.facebook.com/docs/plugins/comments#configurator", data-numposts="5", style="float: right;width: 45%;")
    img(src="/images/2Layout.jpg" class="imgvid")
    div(class="video facebook-responsive")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425139124249474/",data-width="" data-show-text="false" style="float: left;width: 50%;")
      img(src="/images/2TxtTrinityParkBrooklyn.png", class="imgtext")
    img(src="/images/3Layout.jpg" class="imgvid")
    div(class="video facebook-responsive")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425020014261385/",data-width="" data-show-text="false" style="float: left;width: 50%;")
      img(src="/images/3TxtWashingtonSqPark.png", class="imgtext")
    img(src="/images/4Layout.jpg" class="imgvid")
    div(class="video facebook-responsive")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1424952467601473/",data-width="" data-show-text="false" style="float: left;width: 50%;")
      img(src="/images/4TxtGreenwichVillage.png", class="imgtext")
    img(src="/images/5Layout.jpg" class="imgvid")
    div(class="video facebook-responsive")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425228607573859/",data-width="" data-show-text="false" style="float: left;width: 50%;")
      img(src="/images/5TxtTimeSq.png", class="imgtext")

