extends layout

block content
   - var margintopchoice = "5%"
   - if (loggedIn==true)
     - margintopchoice = "140px"
   div
    img(src="/images/1Layout.jpg" style="width: 75%; margin: 0 auto; text-align: center; display: block;")
    div(style="background-color: rgba(0, 0, 0, 0.73); width: 100%; display: -webkit-inline-box; padding: 50px;")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425095127587207/",data-width="" data-show-text="false" style="float: left;width: 50%;")
        blockquote(cite="https://www.facebook.com/toomanyzooz/videos/1425228607573859/", class="fb-xfbml-parse-ignore")
          a(href="https://www.facebook.com/toomanyzooz/videos/1425228607573859/")
            p= "5th video of the day!!!! HAVING SO MUCH FUN! Our own Leo Pellegrino hosts Grace Kelly. video by: Eran Shaysh...#2SAXY"
              span= "Posted by "
              a(href="https://www.facebook.com/toomanyzooz/")= "TOO MANY ZOOZ on Thursday, August 31, 2017"
    img(src="/images/1TxtDumboBrooklyn.png", style="margin-top: 25px;width: 13%;float:left")
    //div(class="fb-comments", data-href="https://developers.facebook.com/docs/plugins/comments#configurator", data-numposts="5", style="float: right;width: 45%;")
    img(src="/images/2Layout.jpg" style="width: 75%; margin: 0 auto; text-align: center; display: block;")
    div(style="background-color: rgba(0, 0, 0, 0.73); width: 100%; display: -webkit-inline-box; padding: 50px; margin-left: -15px;")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425139124249474/",data-width="" data-show-text="false" style="float: left;width: 50%;")
    img(src="/images/2TxtTrinityParkBrooklyn.png", style="margin-top: 25px;width: 13%;float:left")
    img(src="/images/3Layout.jpg" style="width: 75%; margin: 0 auto; text-align: center; display: block;")
    div(style="background-color: rgba(0, 0, 0, 0.73); width: 100%; display: -webkit-inline-box; padding: 50px; margin-left: -15px;")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425020014261385/",data-width="" data-show-text="false" style="float: left;width: 50%;")
    img(src="/images/3TxtWashingtonSqPark.png", style="margin-top: 25px;width: 13%;float:left")
    img(src="/images/4Layout.jpg" style="width: 75%; margin: 0 auto; text-align: center; display: block;")
    div(style="background-color: rgba(0, 0, 0, 0.73); width: 100%; display: -webkit-inline-box; padding: 50px; margin-left: -15px;")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1424952467601473/",data-width="" data-show-text="false" style="float: left;width: 50%;")
    img(src="/images/4TxtGreenwichVillage.png", style="margin-top: 25px;width: 13%;float:left")
    img(src="/images/5Layout.jpg" style="width: 75%; margin: 0 auto; text-align: center; display: block;")
    div(style="background-color: rgba(0, 0, 0, 0.73); width: 100%; display: -webkit-inline-box; padding: 50px; margin-left: -15px;")
      div(class="fb-video",data-href="https://www.facebook.com/toomanyzooz/videos/1425228607573859/",data-width="100%" data-show-text="false" style="float: left;width: 50%;")
    img(src="/images/5TxtTimeSq.png", style="margin-top: 25px;width: 13%;float:left")

