extends layout

block content
   img(src="/images/bouee6.png" style="display:none;")
   - var margintopchoice = "5%"
   - if (loggedIn==true)
     - margintopchoice = "140px"
   div(class="container container2 moveFromLeft")
     div(class="fronthelp", style="margin-top:"+margintopchoice)
         a(href="/search")
           img(src="/images/bouee6.png", alt="The Yoke",  title="Yoke", class="yokelogohelp")
    div(class="fb-comments", data-href="https://developers.facebook.com/docs/plugins/comments#configurator", data-numposts="5")
    div
      span= "Test"
